body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f5f5f5;
    margin: 0;
}

.title {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid black;
    text-align: center;
    margin: auto;
    width: 85%;
    padding: 5px;
}

.sight {
    position: absolute;
    background-color: #f5f5f5;
    top: 0%;
    left: 0%;
    display: inline-block;
    width: 25%;
    height: 100%;
}

.sentence {
    position: absolute;
    top: 0%;
    left: 25%;
    background-color: #f5f5f5;
    display: inline-block;
    width: 50%;
    height: 100%;
    border-left: 1px solid black;
}

.nouns {
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: #f5f5f5;
    width: 25%;
    height: 100%;
    display: inline-block;
    border-left: 1px solid black;
}

.word {
    background-color: rgb(207, 207, 207);
    padding: 10px;
    margin: 5px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: default;
    width: fit-content;
    font-size: 1.25em;
}

.word:active {
    border: 2px dashed #000;

}

.word:hover {
    background-color: rgb(54, 196, 243);
    outline: 2px solid black;
}

#sentence-text {
    background-color: lightgrey;
    display: inline-block;
    width: 100%;
    min-height: 10%;
    height: fit-content;
    position: absolute;
    top: 30%;
    outline: 1px solid black;  
}

.search-container {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
}

#search-box {
    padding: 10px;
    width: 200px;
}

#search-results {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 25%;
    width: 50%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

#search-results li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

#search-results li:hover {
    background-color: #f9f9f9;
}

.trashcan {
    width: 50px;
    height: auto;
    bottom: 0;
    left: 25%;
    position: absolute;
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid #ddd; /* Add border for visibility */
}

.trashcan:hover {
    cursor: default;
}

.punc-container {
    bottom: 20%;
    left: 25%;
    position: absolute;
}

.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.button:hover {
    cursor: pointer;
    background-color: #06d388;
}

.button:active {
    outline: 1px solid #000;
}

#readSentence {
    bottom: 0;
    right: 5%;
    position: absolute;
    text-align: center;
    padding: 20px 50px;
    margin-bottom: 0%;
    font-size: 2em;
}