#sentencereader {
  bottom: 0;
  right: 0%;
  position: absolute;
  text-align: center;
  padding: 10px 40px;
  margin-bottom: 0%;
  margin-right: 0%;
  font-size: 1.5em;
}

.button.enabled {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 25px;
  font-size: 16px;
}

.button.disabled {
  background-color: #cccccc;
  border: none;
  color: #666666;
  padding: 15px 32px;
  margin: 25px;
  font-size: 16px;
}

.button.enabled:hover {
  cursor: pointer;
  background-color: #06d388;
}

.button.enabled:active {
  outline: 1px solid #000;
}

.button.disabled:active {
  outline: none;
}

.button.disabled:hover {
  cursor: not-allowed;
}