.body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  font-family: 'Comic Sans MS', sans-serif;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f5f5f5;
  margin: 0;
  overflow: hidden;
  touch-action: none;
}

.title {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid black;
  text-align: center;
  margin: auto;
  width: 85%;
  padding: 5px; 
}

.sentencebuilder {
  position: absolute;
  top: 0%;
  left: 25%;
  background-color: #f5f5f5;
  width: 50%;
  height: 100%;
  display: inline-block;
  border-left: 1px solid black;
  z-index: -1;
}

.sentence-text {
  background-color: lightgrey;
  display: inline-block;
  width: 100%;
  min-height: 10%;
  max-height: 30%;
  overflow-y: auto;
  overflow-x: hidden;
  height: fit-content;
  position: absolute;
  top: 36%;
  outline: 1px solid black;
}

#submit {
  position: absolute;
  bottom: 0%;
  right: 30%;
  margin-bottom: 0%;
  padding: 10px 30px;
  font-size: 1.5em;
}

.confirm-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
}

.confirm-popup p {
  margin-bottom: 10px;
  width: 33vw; /* Set the width to 33% */
  word-wrap: break-word; /* Allow the text to wrap within the specified width */
  white-space: pre-line;
}

.confirm-popup button {
  margin: 0 10px;
  padding: 8px 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}

.confirm-popup button:hover {
  background-color: #f0f0f0;
}
