.sentence-text {
  background-color: lightgrey;
  display: inline-block;
  width: 100%;
  min-height: 10%;
  max-height: 30%;
  overflow-y: auto;
  height: fit-content;
  position: absolute;
  top: 30%;
  outline: 1px solid black;
}
